<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <h1 class="text-center text-secondary mt-3">Welcome, {{ user.accountHolder }}</h1>
    <div class="container-fluid border border-black p-4 w-75 mb-3 rounded-2">
        <h3 class="text-center text-capitalize mb-3">Account Details</h3>
        <p><strong>Account Number:</strong> {{ user.accountNumber }}</p>
        <p><strong>Bank:</strong> {{ user.bankName }}</p>
        <p><strong>Current Balance:</strong> ${{ user.balance }}</p>
    </div>

    <div class="d-flex gap-2 align-items-center justify-content-center">
        <a href="/transaction/deposit"><button class="btn btn-outline-dark">Deposit Money</button></a>
        <a href="/transaction/withdraw"><button class="btn btn-outline-dark">Withdraw Money</button></a>
        <a href="/logout"><button class="btn btn-outline-dark">Logout</button></a>
    </div>
    <div class="container-fluid mt-3">
        {% if messages %}
        {% for message in messages %}
        {% if message.message == 'Insufficient Balance' %}
        <p class="text-center text-danger">{{ message }}</p>
        {% else %}
        <p class="text-center text-success">{{ message }}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

    <hr>
    <h3>Recent Transactions</h3>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Date & Time</th>
            <th>Type</th>
            <th>Amount</th>
        </tr>
        {% for t in transactions %}
        <tr>
            <td>{{ t.timestamp }}</td>
            <td>{{ t.transaction_type }}</td>
            <td>${{ t.amount }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No transactions yet.</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>