<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h2>Account Registration Form</h2>
    </div>

    <div class="registerForm">
        <form method="post">
            {% csrf_token %}
            <table border="2" width="50%">
                {{register_form.as_table}}
            </table>
            <button type="submit">Submit</button>
        </form>
    </div>

</body>

</html>