<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Set Your Security PIN</h2>
        {% if message %}
            <h2 style="color: red;">{{message}}</h2>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <table border="1">
                {{ form.as_table }}
            </table>
            <br>
            <button type="submit">Set PIN</button>
        </form>
        <br>
        <a href="/">Home</a>
    </div>
</body>
</html>