<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Registration successful!</h2>
        <p>Welcome, {{name}}</p>
        <p>Your Account number is: <strong>{{account_number}}</strong> </p>
        <p>Please save and remember this number in order to access your Account.</p>
    </div>
    <div>
        <a href="/set-pin">
            <button>Set PIN</button>
        </a>
    </div>
</body>
</html>